.banner {
  background-image: linear-gradient(342deg, #6d71dd7d 0%, #6d71dd0f 50%), url(../../images/background.jpg);
  color: white;
  padding: 150px 0px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  front-size: 50px;
}

.banner h2 {
  front-size:30px;
  front-weight: lighter;
  opacity: 0.8;
  margin-bottom: 40px;
}
